* {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    display: flex;
}

button {
    width: 150px;
    height: 100px;
    font-size: 30px;
}

li {
    margin: 0px;
    padding: 10px;
}

#result-announcer {
    font-size: 40px;
    padding-bottom: 30px;
}

#score {
    border: solid black;
    width: 520px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#player-score, #computer-score {
    font-size: 50px;
}

#score-title {
    font-size: 40px;
}

.title, .running-score {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}